<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuizGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D54C6CEA1EED9F700022A559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D54C6CFE1EED9F710022A559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D54C6D091EED9F710022A559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
